body {
	background-color: lightblue;
	text-align: center;
}

#game {
	width:32vw;
	margin: 0 auto;
}

#btns button {
  width: 8vw;
  height: 8vw;
  font-size: 4vw;
  margin: 0;
  float:left;
  font-weight: bold;
}

#play button {
  width: 32vw;
  height: 6vw;
  font-size: 4vw;
  margin: 10px auto;
  background-color:yellow;
  font-weight: bold;
  color:red;
}